.pt {
    padding-top: 15%;
}

.logo {
    width: 150px;
    height: 50px;
}

.background {
    background-image: url('image/doc.jfif');
    background-size: 1550px 750px;
    background-repeat: no-repeat;
}

.topic {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Kalam', cursive;
    text-decoration: underline;
    color: rgb(0, 64, 13);
}

.cityname {
    font-size: 25px;
    font-weight: 400px;
    color: #001738;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3%;
}


.select>select {
    width: 80%;
    /* padding-left: 2%; */
    border-radius: 8px;
    font-size: 25px;
    color: darkslategray;
    background-color: rgba(122, 222, 242, 0.816);
    height: 50px;
    overflow-y: scroll;
}

.btn-next {
    background-color: #8affd1;
    width: 150px;
    font-size: 30px;
    font-weight: 600px;
    color: darkolivegreen;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid rgb(62, 239, 100);
}

.btn-next:after {
    content: '\276F \276F';
    opacity: 0;
    transition: 0.5s;
}

.btn-next:hover {
    padding-right: 25px;
    background-color: aquamarine;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn-next:hover:after {
    opacity: 1;
    right: 0;
}



@media only screen and (max-width: 600px) {
    .pt {
        padding-top: 50%;
    }

    .logo {
        width: 75px;
        height: 30px;
    }

    .background {
        background-image: url('image/mobbg.jfif');
        background-size: 600px 1000px;
        background-repeat: no-repeat;
    }

    .topic {
        font-size: 15px;
    }

    .select>select {
        font-size: 20px;
        overflow-y: scroll;
    }

    .btn-next {
        width: 25px;
        font-size: 15px;
        font-weight: 300px;
    }
    
}

/*CSS for Selectdoc.html*/
.logo {
    width: 180px;
    height: 30px;
}
.background-doc {
    background-color: #caefe1;
}
/* .container{
    display: flex;
    width: 95%;
    height: 200px;
    background-color: rgba(149, 231, 239, 0.886);
    border-radius: 25px;
    border: solid rgb(116, 241, 245);
    justify-content: flex-start;
    
} */
/* .container > div {
    width: 500px;
    margin-left:-25px;
    margin-top: 50px;
    text-align: left;
    line-height: 35px;
    font-size: 20px;
  }
  .container > div > strong:before{
    content:'\25C9';
    color: #001738;
  } */
  .checked {
    color: orange;
  }
.doc-img{
    width: 300px;
    height: 150px;
    border-radius: 50%;
    margin-left: -50px;
    margin-top: 25px;
}
.detail{
    font-size: 24px;
    
}
.doctor-modal{
    width: 200px;
    height: 100px;
    border-radius: 50%;
    margin-left: 130px;
}
.modal-detail{
    margin-left: 30px;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn-upload {
    border: 1px solid rgba(82, 206, 113, 0.563);
    color: rgb(244, 115, 72);
    background-color: rgb(238, 238, 191);
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .view-profile{
    width: 200px; 
    background-color: #00ffbf; 
    border:#08503e;
  }
  .link-container{
    text-decoration:none;
     color:darkgreen ;
}
/* 
  @media only screen and (max-width: 600px) {

   .container{
    width: 90%;
    height: 2%;
    margin-right: 20px;
}
.doc-img{
    width: 150px;
    height: 75px;
    margin-left: -30px;
    margin-top: 8px;
    margin-bottom: 5px;
}
.container > div {
    
    margin-left:-25px;
    margin-top: 10px;
    text-align: left;
    line-height: 20px;
    font-size: 14px;
  }
  .container > b{
      display: none;
  }
  .view-profile{
    width: 80px; 
    height: 20px;
    font-size: 10px;
    padding-bottom: 20px;
  }
  .hide-in-phone{
      display: none;
  }
.link-container{
    text-decoration:none;
     color:rgb(1, 14, 1) ;
}
.doctor-modal{
    width: 200px;
    height: 100px;
    border-radius: 50%;
    margin-left: 75px;
} 

} */